# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.Python
2.R
3.SQL
4.Scala
5.Java
6.C++
7.Julia
8.Javascript

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.Numpy
3.Matplotlib
4.Seaborn
5.Scikit-learn
6.Keras
7.TensorFlow
8.PyTorch
9.Apache Spark

| Data Science Tools |
|-------------------- |
|JupyterNotebook|
|RStudio|
|AnaCoda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- add comments to code cells
- create marksdown cells
- add order and unordered lists to markdown cells
- formats content of markdown cells with heading styles

## Author
Lakshmi Hola